body {
	background-color: rgb(249, 248, 246);
	padding: none;
	margin: none;
	border: none;
	box-sizing: border-box;
}

header {
	height: 100vh;
	width: 100vw;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2vh;
}

ul {
	list-style: none;
	margin: none;
}

.logo__main {
	height: 15vh;
}

.header-clipped {
	height: 100vh;
	width: 90vw;
	transform: translateY(-20vh);
	background-repeat: no-repeat;
	background-size: cover;
	animation: slide 30s ease-in-out infinite;
	background-image: url(images/premises.jpg);
}

@keyframes slide {
	0% {
		background-image: url(images/premises.jpg);
		transform: translateY(-20vh);
	}

	25% {
		background-image: url(images/hanna-postova-oha7AANDiL8-unsplash.jpg);
	}

	40% {
		background-image: url(images/camille-brodard-VxAwTeiqDao-unsplash.jpg);
	}

	55% {
		background-image: url(images/charisse-kenion-xhWMi9wdQaE-unsplash.jpg);
		transform: translateY(-10vh);
	}

	70% {
		background-image: url(images/rune-enstad-cowLgyb63c4-unsplash.jpg);
		transform: translateY(-8vh);
	}

	85% {
		background-image: url(images/karelys-ruiz-rYardnw9lno-unsplash.jpg);
		transform: translateY(-10vh);
	}
	100% {
		background-image: url(images/christin-hume-0MoF-Fe0w0A-unsplash.jpg);
	}
}

.clip {
	width: 100vw;
	height: 100vh;
}

.header__img {
	width: 100vw;
	height: 80vh;
	overflow: hidden;

	-webkit-mask-image: url(images/clip-mask.png);
	mask-image: url(images/clip-mask.png);
	-webkit-mask-mode: alpha;
	mask-mode: alpha;

	-webkit-mask-size: 65vw, 60vh;
	mask-size: 100vw, 60vh;

	-webkit-mask-position: center;

	-webkit-mask-repeat: no-repeat;
	transform: translateY(-6vh);
}

.nav-link {
	text-decoration: none;
	list-style: none;
	font-size: 3rem;
	padding-left: 2rem;
	font-family: 'Ruthie', cursive;

	color: purple;
}

.nav-link:hover {
	color: darkgoldenrod;
}

.nav-link > ul {
	padding-left: 2rem;
}

.nav-links {
	display: flex;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 4vh;
	align-content: center;
	transform: translateX(-2rem);
}

.section__services--home {
	background-color: blue;
	height: 100vh;
	width: 100vw;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////Section__testimonials//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.section__testimonials {
	background-color: rgb(249, 248, 246);
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.review__heading {
	font-family: 'Ruthie', cursive;
	font-size: 5rem;
	color: rgba(128, 0, 128, 0.5);
	text-shadow: 1px 1px 10px rgba(169, 169, 169, .8);
}
.testimonials__card {
	background-color: white;
	height: 70vh;
	width: 45vw;
	border-radius: 30px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.speechmarks {
	position: absolute;
	height: 20vh;
	width: 10vw;
	left: 30vw;
	top: 15vw;
}

.testimonials__text {
	font-family: 'Rubik', sans-serif;
	font-size: 2rem;
	padding: 100px;
	color: darkgray;
	margin-top: 20vh;
	text-align: center;
}
.testimonials__customer {
	font-family: 'Ruthie', cursive;
	font-size: 5rem;
	color: rgba(128, 0, 128, 0.5);
	text-shadow: 1px 1px 10px rgba(169, 169, 169, .8);
	position: relative;
	bottom: -3vh;
	right: -10vw;
}

.slider__btn {
	position: absolute;
	top: 50%;
	z-index: 10;

	border: none;
	background: rgba(255, 255, 255, 0.7);

	color: rgba(128, 0, 128, 0.5);
	border-radius: 50%;
	height: 5.5rem;
	width: 5.5rem;
	font-size: 3.25rem;
	cursor: pointer;
	box-shadow: 1px 1px 10px rgba(169, 169, 169, .8);
}

.slider__btn:hover {
	background-color: rgba(128, 0, 128, 0.5);
	color: white;
}

.slider__btn--left {
	left: 15%;
	transform: translate(-50%, 25%);
}

.slider__btn--right {
	right: 15%;
	transform: translate(50%, 25%);
}

.dots {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////Footer//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
footer {
	height: 15vh;
	width: 100vw;
}

.footer__chat {
	height: 10vh;
	width: 100vw;
	background-color: #eee;
	position: relative;
}

.footer__attribution {
	height: 5vh;
	width: 100vw;
	background-color: black;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	align-items: center;
}

.creator-link {
	padding-left: 20px;
	text-decoration: none;
	cursor: pointer;
	color: white;
}

.image-icon {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	border: 2px solid darkgoldenrod;
	box-shadow: 0px 0px 8px black;
	cursor: pointer;
	margin-right: 2rem;
}

.image-icon:hover {
	transform: scale(1.5);
}

.contact {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	right: 4vw;
	top: 4vh;
	color: purple;
	background-color: rgba(128, 0, 128, 0.5);
	border-radius: 20px;
	height: 8vh;
	width: 10vw;
	overflow: hidden;
}

.contact:hover {
	right: 5vw;
	width: 30vw;
	background-color: darkgoldenrod;
}

.contact-us {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-size: 1.5rem;
	text-justify: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	text-align: center;
}

.email-address {
	color: white;
	font-size: 1.5rem;
	padding-left: 20px;
}
.facebook {
	position: relative;
	left: 3vw;

	cursor: pointer;

	position: absolute;
	top: 4vh;
	height: 8vh;
	background-color: purple;
	border-radius: 20px;
}

.facebook:hover {
	background-color: darkgoldenrod;
}

.facebook-link {
	text-decoration: none;
	display: flex;
	align-items: center;
}
.facebook-text {
	color: white;
	font-size: 1.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
.icon-facebook {
	width: 4rem;
	height: 4rem;
	padding-left: 1rem;
}

.phone {
	position: relative;
	left: 42vw;
	display: flex;

	position: absolute;
	top: 4vh;
	height: 8vh;
	background-color: purple;
	border-radius: 20px;
	align-items: center;
}

.phone:hover {
	background-color: darkgoldenrod;
}

.icon-phone {
	width: 3rem;
	height: 3rem;

	padding-left: 2rem;
}
.phone-text {
	color: white;
	font-size: 1.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
